body{
    padding: 0;
    margin: 0;
}
.container{
    height: 600px;
    width: 360px;
    background-color: #cccccc;
    margin: 50px 600px;
}
.heading{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
}
.heading > h2{
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
}

.img{
    width: 200px;
    height: 200px;
    margin-left:80px;
    margin-top: 50px;
    border-radius: 50%;
}
.text{
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}