body{
    padding: 0;
    margin: 0;
}
.main-container{
    display: flex;
}
.container{
    height: 600px;
    width: 360px;
    background-color: #cccccc;
    margin: 10px;
}
.heading{
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
}
.heading > h2{
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
}
.field{
    height: 70px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.field label{
    padding-top: 45px;
    
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    width: 45%;
}
.field input{
    height: 20px;
    -moz-appearance: textfield;
}

.btn-container{
width: 100%;
height: 100px;
margin-top: 15px;
}
.btn{
    width: 120px;
    height: 45px;
    background-color: #252CDC;
    font-size: 16px;
    color: white;
    margin-left: 40px;
    border: 2px solid #3e418b;
    border-radius: 7px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.btnprint{
    width: 120px;
    height: 45px;
    background-color: #252CDC;
    font-size: 16px;
    color: white;
    margin-left: 120px;
    border: 2px solid #3e418b;
    border-radius: 7px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.img{
    width: 150px;
    height: 150px;
    margin-left:100px;
    margin-top: 20px;
    border-radius: 50%;
}
.field0{
    margin-top: 10px;
    height: 40px;
    width: 100%;    
    margin-left: 10px;
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
}
@media print{
    body {
        visibility: hidden;
        display:flex;
        justify-content: center;
    }
    .firstcont{
        display: none;
    }
    .secncon{
        visibility: visible;
    }
    .btnprint{
        display: none;
    }
}